<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Change</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100 h-screen flex flex-col justify-center items-center">

<!-- Password Not Matching error -->
<div th:if="${passNotMatching}" class="w-full">
    <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative max-w-screen-lg mx-auto">
        <span class="block text-center" th:text="${passNotMatching}"></span>
    </div>
</div>

<!-- Password Not Changed error -->
<div th:if="${samePassword}" class="w-full">
    <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative max-w-screen-lg mx-auto">
        <span class="block text-center" th:text="${samePassword}"></span>
    </div>
</div>

<div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 max-w-md w-full">
    <h2 class="text-2xl font-bold mb-4">Change Password</h2>
    <form action="/changepassword" method="post">

        <!-- Current Password -->
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="currentPassword">Current Password</label>
            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                   id="currentPassword" type="password" name="currentPassword" placeholder="Current Password">
        </div>

        <!-- New Password -->
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="newPassword">New Password</label>
            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                   id="newPassword" type="password" name="newPassword" placeholder="New Password">
        </div>

        <!-- Confirm New Password -->
        <div class="mb-6">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="confirmPassword">Confirm New Password</label>
            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                   id="confirmPassword" type="password" name="confirmPassword" placeholder="Confirm New Password">
        </div>

        <div class="flex items-center justify-between">
            <button type="submit"
                    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
            >
                Change Password
            </button>
        </div>
    </form>
</div>
</body>
</html>